// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


//Material Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Bootstrap-vue
@import '~bootstrap-vue/dist/bootstrap-vue.min.css';

body,h1,h2,h3,h4,h5{
  font-family: 'Saira', sans-serif !important; 
}
h2{
  font-weight:bold;
}
 html {
  font-size: 0.55rem;
  
}
.nav-menu{
  display:none;
}
.nav-logo{
  display:inline-block;
  width:100%;
}
img.menu{
width:33px;
height:33px;

}
small.menu {
 
  
  font-size: 0.75em;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 0.65rem;
    
  }

}



@include media-breakpoint-up(md) {
  html {
    font-size: 0.85rem;
  }
  ul.footers li a{
    padding:0.5rem;
    border-radius: 7px;
  }
  img.menu{
    width:64px;
    height:64px;
    
    }
  div.nav-menu{
    margin-left:-4rem;
    padding-bottom:0.9rem;
    width:70%;
    display:inline-block;
    vertical-align: middle;
  }
  .nav-logo{
    display:inline-block;
    width:27.5%;
  }
  small.menu {
    display: block;
    
    font-size: 0.6em;
  }

}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
  div.nav-menu{
 
    width:75%;
    display:inline-block;
  }
  .nav-logo{
    display:inline-block;
    width:17.5%;
  }
  small.menu {
    display: block;
    
    font-size: 0.6em;
  }

} 

.top-nav{
  color:white;
  background-color: #0262b4;
  
}

.btn-outline-primary.top-nav {
  border:none;
  color:white;
 
}
.btn-outline-primary.top-nav:hover,
.btn-outline-primary.top-nav:active,
.btn-outline-primary.top-nav:focus{
  background-color: #027be3 !important;
}

div.menu{
  max-height:120px;
  padding-top:38.4px;
  background-color:#0262b4;
}
ul.menu li:not(:first-child):before {
  content: " | ";
  color:white;
}
.menu ul li a{
  border-radius: 7px;
  letter-spacing: 2px;
  font-weight: 500;
  padding:1.1rem;;
  color:white;

}
.menu nav {
  font-size:1.75rem;
}

.menu a:visited , .footers a:visited{
  color:#c5c9cc;
}
a:hover{
  text-decoration: none;
}
ul.menu li a:hover , ul.footers li a:hover{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); 
  background-color: #027be3;
}
a.menu.active-menu {
  background-color: #027be3 !important;
}
h1.menu{
  font-size:30px;
  color:white;
  clear: both;
  font-family: 'Saira', sans-serif;
}
img.menu{
  float:left;
  margin-left:15px;
  margin-right:15px;
  border-radius: 43%;
  background-color: #26a69a; 
}

.tooltip-inner{
  color:white;
  font-size: 1.25em;
  background-color:#6c757d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.arrow::before{
 display:none;
}
footer {
  background-color:  #027be3;
  color:white; 
}
.footers a{
  color:white;
}
label.custom-input,legend.custom-input,span.custom-input{
  color:#979797;
}
legend.custom-input{
  font-size: 1rem;
}
i.custom-input{
  padding-right:0.5rem;
}
input.form-control.custom-input,textarea.form-control.custom-input{
  background-color: #26a69a;
  color:white;
  border:none; 
  box-shadow: none;
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  border-radius: 3px;
  padding-left:15px;
}
select.custom-select.custom-input{
  border:none;
  box-shadow: none;
  height:3rem;
  background-color: #26a69a;
  color:white; 
  
}
div.form-check.custom-check{
  background-color:#26a69a;
  border-radius: 3px;
  color:white; 
  width:100%;
  padding-left:2rem;
  vertical-align: middle !important;
}
select.custom-select.custom-input option:disabled{
  color:#dcdddd !important;    
}
input.form-control.custom-input:focus,select.custom-select.custom-input:focus,textarea.form-control.custom-input:focus{
  outline: none;  
  border:none;
  margin:none;
  box-shadow: 0px 0px  15px 1px #26a69a;
}
input.form-control.custom-input:-moz-read-only { /* For Firefox */
  background-color: #138278;
  color:#dcdddd ;
}

input.form-control.custom-input:read-only { 
  background-color: #138278;
  color:#dcdddd ;
}
input.form-control.custom-input.invalid.dirty,input.form-control.custom-input.invalid.pristine,
select.custom-select.custom-input.invalid.dirty,select.custom-select.custom-input.invalid.pristine,
input.form-control.custom-input.invalid,select.custom-select.custom-input.invalid,
input.form-control.custom-input.error,textarea.form-control.custom-input.invalid{
  background-color: #db2828;
}
input.form-control.custom-input.invalid:focus,select.custom-select.custom-input.invalid:focus,
input.form-control.custom-input.error:focus,textarea.form-control.custom-input.invalid:focus{
  box-shadow: 0px 0px  15px 1px #db2828;
}
small.invalid{
  
  color:#db2828 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#dcdddd !important; 
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#dcdddd !important; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#dcdddd !important; 
}
input:-webkit-autofill.form-control {
  -webkit-text-fill-color: #faffbd !important;
  -webkit-box-shadow: 0 0 0px 1000px #26a69a inset;
  transition: background-color 5000s ease-in-out 0s;
}

i,.btn i, label.custom-control-label::after{
  vertical-align: middle !important;
}

hr.custom-input{
  color:#979797;
  border-width: 2px;
  margin-top:1rem;
}
#remember{
  background-color:#26a69a;
  border-radius: 3px;
  padding:7px 20px 7px 20px;
  color:white; 
  width:140px;
}
div.custom-input .btn{
  min-width:140px;
}
#login-help{
  border: 2px solid #979797;
  margin-top:5%;
  border-radius: 7px;
  padding:20px 0px 20px 0px;
}
h2.heading{
  margin:2rem;
}
.rounded-border{
  border-radius:50%;
  padding: 0rem 0.5rem;
}
p.stepper{
  font-size:1rem;
}
@media (min-width: 768px) { 
  div.stepper:before{ 
    content: "";
    display: block;
    border-top: solid 1px #7f878e;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  p.stepper{
    margin-top:1rem;
    background: white;
    padding: 0 1.5rem;
    position: relative;
    z-index: 5;
    font-size:1.15rem;
  }
  div.first-step{
  margin-left:-70%;
  }
  div.last-step{
    margin-right:-70%;
  }

}
#lookup{
  margin-top:2rem;
}

.min-page-height{
  min-height: 25rem;
}

.small-h2{
  font-size:1.1rem !important;
}

img.advert-list{
  width:14px;
  height:14px;
  margin:0.5rem;
}
li.advert-list{
  width:30%;
  height:4rem;
  font-size:0.75rem;
  
}
i , li i{
  font-size:1.25rem;
}
ul.advert-list{
  height:90%;
  font-size:0.85rem;
}
p.advert-list{
  vertical-align: middle !important;
}
div.advert-list{
  min-height:10rem;
}
@include media-breakpoint-up(md) {
  ul.advert-list{
    font-size:1rem;
  }
  li.advert-list{

    font-size:1rem;
    
  }
  img.advert-list{
    width:32px;
    height:32px;
    margin:0.85rem;
  }
}
div.small-i i, .small-i i{
  font-size:1.15rem;
}
.custom-shadow{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.small-font{
  font-size:0.85rem;
}
li.advert-overview{
  margin-top:7.5%;
}
.bg-custom{
  background-color:#26a69a;
}
.custom-color{
  color:#26a69a;
}
.w-30{
  width:32%;
}
.w-20{
  width:21.5%;
}
.search-select{
  margin-right:-5px; 
  border-radius:0px;
}
.radius-left{
  border-bottom-left-radius: 5px; 
  border-top-left-radius: 5px;
}
.radius-right{
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
}

div.search small.form-text.invalid{
  display:none;
}
div.custom-error{
  background-color:#db2828 !important;
  color:white;
}
img.advert-avatar{
  width:100px;
  height:75px;
}
img.search-desc{
  width:12px;
  height:12px;
  margin-right:0.5rem;
} 
li.search-desc{
  font-size: 0.85rem;
  width:21%;
  height:2rem;
}
div.search-desc{
  max-height:5rem;
  
}
ul.search-info, ul.search-info li i{
  font-size:0.75rem !important;
}
img.share-icon{
  width:18px;
  height:18px;
}
@include media-breakpoint-up(md) {
  img.share-icon{
    width:36px;
    height:36px;
  }
  ul.search-info, ul.search-info li i{
    font-size:1.1rem !important;
  }
  p.search-desc{
    font-size:0.75rem;
  }
  img.search-desc{
    width:14px;
    height:14px;
    margin-right:0.5rem;
  } 
  img.advert-avatar{
    width:250px;
    height:200px;
  }
  li.search-desc{
    height:1rem;
    font-size: 0.65rem;
  }
}
@include media-breakpoint-up(lg) {
  p.search-desc{
    font-size:1rem;
  }
  img.search-desc{
    width:20px;
    height:20px;
    margin-right:1rem;
  } 
  li.search-desc{
    font-size: 0.95rem;
    height:2rem;
  }
}
ul.share-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.pagination>li>a, .pagination>li>span { 
  border-radius: 50% !important;
  margin: 0 5px;
}
.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  box-shadow: none;
   
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  margin-top:20px;
}
.text-custom{
  color:#5e7199 !important;
}
.dropdown-menu{
  font-size:1.15rem;
  width:15rem;
}
div.top-app{
  height:10rem;
}
main.content{
  min-height:45rem;
}
.help-container{
  width:100%;
  margin:auto;
}
@include media-breakpoint-up(md) {
  main.content{
    min-height:50rem;
  }
  .help-container{
    width:85%;
    margin:auto;
  }
}
@include media-breakpoint-up(lg) {
  main.content{
    min-height:40rem;
  }
}
.alert-warning {
  background-color: #ffc107 ;
  color:#6c757d;
}
.alert-info{
  background-color: #31ccec;
}

.alert-success{
  background-color: #26a69a;
  color:white;
}
div.dashboard-page{
  min-height: inherit !important;
}
div.dashboard-page div.row{
  min-height: inherit !important;
}
i.dashboard-page{
  font-size:10rem;
}

div.fixed-alert {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  margin:0;
  max-width:800px;
  z-index: 10000;
}
div.fixed-top-app{
  position: fixed;
  top: 0;
 
  right: 0;  
}
#maps-wraper{
  overflow:hidden;
  height:400px;
  width:100%;
}
#gmap_canvas{
  height:400px;
  width:100%;
}
#gmap_canvas img{
  max-width:none!important;
  background:none!important
}
label.custom-input.custom-label , .custom-label label.custom-input{
  color:#cacaca !important;
}
[v-cloak] {display: none}